<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div class="center white" id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field center">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field center">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field center">
    <%= f.label :school_id %>
    <%= f.select :school_id, options_from_collection_for_select(School.all, :id, :name) %>
  </div>

  <div class="field center">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field center">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions center">
    <%= f.submit %>
  </div>
<% end %>
