<h1 class="center"><%= link_to('PokeCademy', root_path, class: 'center head')  %></h1>
<div class="row center">
  <%= link_to('Schools', schools_path, class: 'link button button-primary') %>
  <%= link_to('Teachers', teachers_path, class: 'link button button-primary') %>
  <%= link_to('Students', students_path, class: 'link button button-primary') %>
  <%= link_to('Courses', courses_path, class: 'link button button-primary') %>
</div>
