<div><h4 class="center white"><%= form_title %></h4></div>

<div class="center white">
  <% if teacher.errors.any? %>
    <% teacher.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_for(teacher) do |f| %>
    <div class="form-group center white">
      <label for="name">Name: </label>
      <%= f.text_area :name, placeholder: "Prof. " + ["Oak", "Elm", "Birch", "Willow"].sample, class: 'form-field' %>
    </div>
    <div class="form-group center white">
      <label for="school_id">School ID: </label>
      <%= f.select :school_id, options_from_collection_for_select(School.all, :id, :name) %>
    </div>
    <div class="actions center">
      <%= f.submit %>
    </div>
  <% end %>
</div>
