<div><h4><%= form_title %></h4></div>

<div>
  <% if course.errors.any? %>
    <% course.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_for(course) do |f| %>
    <div class="form-group">
      <label for="name">Name: </label>
      <%= f.text_area :name, placeholder: "Course name here...", class: 'form-field' %>
    </div>
    <div class="form-group">
      <label for="school_id">School ID: </label>
      <%= f.select :school_id, options_from_collection_for_select(School.all, :id, :name) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
